body {
    padding: 0;
    margin: 0;
    display: grid;
    background-color: white;
}

.menu{
    display: grid;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.hero{
    display: grid;
    top:0;
    left: 0;
    height: 560px;
    width: 100%;
    background-color: #509BF5;
    z-index:0;
}

.info1{
    top:640px;
    width: 100%;
    background-color: white;
}

.header{
    margin-top: 30px;
    margin-left: 520px;
    margin-bottom: 30px;
    height: 60px;
    width: 420px;
    background-color: #1DB753;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-column-gap: 1.5em;
    width: 80%;
    margin: auto;

}
.service1{ 
    height: 340px;
    background-color: #509BF5;
    margin-bottom: 30px;
}

.service2{ 
    height: 340px;
    background-color: #509BF5;
    margin-bottom: 30px;
}

.service3{ 
    height: 340px;
    background-color: #509BF5;
    margin-bottom: 30px;
}

.service4{ 
    height: 340px;
    background-color: #509BF5;
    margin-bottom: 30px;
}

.info2{
    top:640px;
    width: 100%;
    background-color: black;
}

.header_2{
    margin-top: 30px;
    margin-left: 520px;
    margin-bottom: 30px;
    height: 60px;
    width: 420px;
    background-color: white;
}

.plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 1.5em;
    width: 60%;
    margin: auto;
}

.plan1{ 
    height: 630px;
    background-color: #1DB753;
    margin-bottom: 30px;
}

.plan2{ 
    height: 630px;
    background-color: #1DB753;
    margin-bottom: 30px;
}

.plan3{ 
    height: 630px;
    background-color: #1DB753;
    margin-bottom: 30px;
}

.footer{
    display: grid;
    width: 100%;
    height: 80px;
    background-color: white;
    bottom: 0;
    left: 0;
}