body {
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #ECF1F4;
}

.menu{
    display: grid;
    width: 55%;
    padding: 0 22.5% 0 22.5%;
    height: 150px;
    grid-template-columns: 1.25fr .5fr 1.25fr;
    grid-column-gap: 2em;
    margin:auto;
    background-color:#07394C; 
}

.item1{
    height: 20px;
    background-color: white;
    margin-top: 65px;
}

.item2{
    height:110px;
    background-color: #F79421;
    margin-top: 20px;
}

.item3{
    height: 20px;
    background-color: white;
    margin-top: 65px;
}

.main{
    display: grid;
    width: 100%;
    background-color: #ECF1F4;
    top: 150px;
}

.title{
    width: 370px;
    height: 40px;
    margin-left: 535px;
    margin-top: 60px;
    background-color: #F79421;
    margin-bottom: 30px;
}

.catering{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 1.5em;
    width: 75%;
    margin: auto;
}

.image1{
    height: 325px;
    background-color: #7B9182;
    margin-bottom: 30px;
}

.image2{
    height: 325px;
    background-color: #7B9182;
    margin-bottom: 30px;
}

.image3{
    height: 325px;
    background-color: #7B9182;
    margin-bottom: 30px;
}

.paragraph{
    height: 50px;
    background-color: white;
    width: 60%;
    margin-left: 288px;
    margin-bottom: 30px;
}

.video_container{
    display: grid;
    background-color:#ECF1F4;
    width: 100%;
    top: 660px;
}

.food{
    display: grid;
    width: 75%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    margin:auto;
}

.food1{
    background-color:#7B9182;
    height: 240px;
}

.food2{
    background-color:#7B9182;
    height: 240px;
}

.food3{
    background-color:#7B9182;
    height: 240px;
}

.food4{
    background-color:#7B9182;
    height: 240px;
}

.video{
    height: 570px;
    width: 75%;
    background-color:#F79421;
    display: grid;
    margin: 30px auto;
}

.footer{
    display: grid;
    height: 190px;
    width: 30%;
    background-color: #07394C;
    padding: 0 35% 0 35%;
    margin: auto;
}

.link1{
    background-color: white;
    height: 15px;
    margin-top: 87.5px;
}
